@inherits LayoutComponentBase
@using Microsoft.Extensions.Localization


<div class="main">
    <div class="wrapper">
        <NavMenu />
        <SideBar />
        @*<Content />*@
        <div class="content px-4">
            @Body
        </div>

       
        <Footer />
    </div>


</div>



@code {
    [Inject] public IStringLocalizer<Index> localizer { get; set; }
}
